* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: beige;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-left {
    width: 60%;
    margin-left: 40px;
}

.container-right {
    position: relative;
    background-color: #A0A7C5;
    height: 100vh;
    width: 40%;
}
.navegacao {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navegacao a {
    display: inline-block;
    margin: 25px 20px;
    font-weight: bold;
    cursor: pointer;
}
.navegacao a:hover {
    color: #777676;
}
span {
    color: #777676;
}
span:hover {
    color: black;
}
img {
    width: 280px;
    position: absolute;
    top: 90px;
    left: -90px;
}

.container-left h1 {
    width: 300px;
    font-size:40px;
    font-weight:500;
    color: #333;
}
.container-left p {
    width: 480px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    color: #b1adad;
}
.container-left button {
    margin-top: 10px;
    border: none;
    outline: none;
    background-color: #A0A7C5;
    padding: 10px 30px;
    color: #fff;
    border-radius: 15px;
    font-weight: 600;
    cursor: pointer;
}
.container-left button:hover {
    background-color: #7a7e8d;
}
@media screen and (max-width:900px) {

    .navegacao a {
        display:none;
    }
    .container {
        display: block;
        margin: 80px auto 0px auto;
    }
    .container-left  {
        width: 80%;
    }
    .container-left h1 {
        margin: 0 auto;
        text-align: center;
    }
    .container-left p {
        margin: 0 auto;
        width: 280px;
    }
    .container-left button {
        margin: 15px auto;
        display: block;
        padding: 15px 40px;
        font-size: 20px;
    }
    .container-right {
        width: 100%;
        height: 60vh;
    }
     img {
        width: 250px;
        top: 20%;
        left: 65px;
    }
}
